* {
  font-family: 'Roboto', sans-serif;
}

.display-small-device {
  display: none;
}

.hide-small-device {
  display: block;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.text-right-lg-screen {
  text-align: right;
}

.color-white {
  color: white;
}

.badge {
  background-color: white;
  color: rgba(47,85,114);
}

.text-logo {
  font-family: 'Pacifico', cursive;
  color: white;
  padding-left: 10px;  
}
.text-logo:hover {
  cursor: pointer;
}

.footer-text  {
  background-color: rgba(47,85,114);
  color: white;
  padding: 15px;
}

.img-md {
  max-width: 100%;
  max-height: 200px;  
}

.img-big {
  max-width: 100%;
  max-height: 400px;  
}

.proto_items {
  display: none;
}


.fix-header {
  position: fixed;
  padding: 10px 0;
  width: 100%;
  z-index: 2;
  background-color: rgba(47,85,114);
  top: 0;
}

header, nav, section {
  display: block;
}

.wrapper {
  padding-left: 18px;
  padding-right: 18px;
  max-width: 1236px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}


/* flex display to be possible all columns of the same height */
.col-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}


.col {
  flex: 1 0 21%;  
  height: 470px;
  padding: 10px;
  margin-top: 15px;
  opacity: 0;
}

.img-wrapper {
  height: 235px;
  text-align: center;
}

.img-wrapper-bg {  
  text-align: center;
  height: auto;
}

.bg-info {
  padding: 10px;
}

.txt-padding {
  height: 50px;
  padding: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.my-10 {
  margin: 10px 0;
}

.mx-10 {
  margin: 0 10px;
}

.mb-80 {
  margin-bottom: 80px;
}

.pa-5 {
  padding: 5px;
}

.wd-100 {
  width: 100%!important;
}

.max-width-75 {
  width: 75px;
}

.form-inline {
  display: inline-block;
}

.show-element-inline {
  display: inline-block!important;
  transform: translateX(0)!important;
  opacity: 1!important;
}



.txt-price {
  font-size: 2rem;
  font-weight: 600;
  color: rgb(47,85,114);
}

#table-cart-items td,
thead th,
tfoot td {
  font-size: 20px;
}

.w-100{
  width: 100%;
}

.float-left {
  float: left;
}

/* animation slide */
.slide-fade div {
  transition: all 0.4s ease-out;
  transform: translateX(-3rem);
  opacity: 0;
}

.slide-fade div.show,
.slide-fade div.show div {
  opacity: 1!important;
  transform: translateX(0);
}

/* animation to display slide */
.hide-element {
  display: none;
  transform: translateX(-3rem);
  opacity: 0;
  transition: all 0.5s ease-out;
}

.show-element {
  display: block!important;
  transform: translateX(0)!important;
  opacity: 1!important;
}


#container-currency,
#container-validation {
  margin-top: 100px;
}

/* media query to header */
@media (max-width: 525px) { 
  #container-currency,
  #container-validation {
    margin-top: 150px;
  }
  
  .media-centre {
    width: 100%;
    text-align: center;
  }

  .media-centre h3 {
    font-size: 34px;
    padding: 10px 0;
  }

  nav { 
    text-align: center; 
  }

  nav li {
    list-style: none!important; 
    display: inline-block!important;
    float: initial!important;
  }
}



/* media query to display buttons */
@media (max-width: 992px) { 
  .display-small-device {
    display: block;
  }

  .hide-small-device {
    display: none;
  }  

  .text-right-lg-screen {
    text-align: left;
  }
}